@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat, sans-serif;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.language-bar {
  display: flex;
  justify-content: space-between;
  background-color: #1d78be;
}
.open-nav-box {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-icon4 {
  width: 40px;
  height: 30px;
  position: relative;
}
#nav-icon4 span:nth-child(1) {
  top: 0;
}
#nav-icon4 span:nth-child(2) {
  top: 10px;
}
#nav-icon4 span:nth-child(3) {
  top: 20px;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 35px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
}

#main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
}
#splitScreen {
  max-width: 100%;
  margin: 10px;
  display: flex;
  margin-top: 70px;
  flex-wrap: wrap;
  overflow: hidden;
}
.text {
  width: 450px;
  margin: auto 20px;
}
.images{
  margin-top: 10px;
  width: 770px;
  max-width: 100%;
  margin: auto 15px;
}
.introduction {
  height: 90%;
  padding: auto 0px;
}

.intro-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 25px;
}

.intro-description {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
}
.we-can {
  font-family: Montserrat;
  display: flex;
}
.we-can > span:first-child {
  width: 60px;
  height: 3px;
  background: blue;
  margin: 7px 7px 7px 0px;
}

#main-four-divs{
  margin-top: 80px;
  margin-left: 60px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.left-div{
  color: rgb(62, 66, 71);
  width: 300px;
}
.left-div > h4, h3{
  padding: 10px;
}
.left-div > p{
  font-size: 16px;
}
.right-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.right-div > .first-div, .second-div, .third-div{
  width: 300px;
  padding-left: 20px;
}
.right-div > img{
  width: 150px;
  height: auto;
}
#brands{
    background-image: url(images/brands-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.brand {
  background-color: rgb(28, 137, 226);
  padding: 50px;
  width: 800px;
  max-width: 100%;
  color: white;
  height: auto;
}
#brand_logo {
  margin-top: 100px;
}
.first-row{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.second-row{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.first-row img{
  width: 100px;
  height: 75px;
  padding: 5px;
}
.second-row img{
  max-width: 100px;
  max-height: 75px;
  padding: 5px;
}

#careers {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 150px;
}
.leftside {
  width: 50%;
  margin-left: 80px;
  margin-right: 50px;
}
.rightside {
  margin-left: 80px;
}
.career-ui{
  display: flex;
  justify-content: space-between;
}

#centerdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.textside {
  box-shadow: 2px 5px 7px silver;
  max-width: 400px;
  background-color: white;
} 
.imageside img{
  max-width: 600px;
  height: auto;
}
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 200px;
  padding: 10px;
}
.logo img{
  margin: auto 0px;
  width: 100px;
}
.address {
  margin-left: 100px;
  width: 250px;
}
.contact {
  margin: auto;
  width: 500px;
}
.touch{
  display: flex;
}
.footer-end{
  display: flex;
  justify-content: space-between;
}
.footer-rightside{
  display: flex;
  margin-right: 50px;
}
@media screen and (max-width: 480px) {
  #splitScreen {
    margin: 100px 5px;
    flex-wrap: wrap;
  }
  .introduction {
    padding-top: 0px;
  }
  
.text {
  width: fit-content;
}
.images {
  margin-top: 50px;
  width: 300px;
  margin-right: 0px;
}
#main-four-divs{
  margin-left: 10px;
  padding: 5px;
  flex-wrap: wrap;
}
.right-div{
  width: 300px;
  flex-wrap: wrap;
  margin-left: 0px;
}
.right-div > .first-div, .second-div, .third-div{
  margin: 20px 0px;
}
.brand {
  padding: 20px;
  width: 100%;
}
#brand_logo {
  padding: 0px;
  margin-top: 20px;
}
.first-row img{
  max-width: 75px;
  max-height: 50px;
  padding: 5px;
}
.second-row img{
  max-width: 75px;
  max-height: 50px;
  padding: 5px;
}
#careers {
  flex-wrap: wrap;
}
.career-ui{
  font-size: 20px;
}
.rightside {
  margin-top: 20px;
  margin-right: 0px;
}
#centerdiv {
  flex-wrap: wrap;
  margin-top: 0px;
}
.textside {
  border: none;
  background-color: white;
  width: 100%;
} 
.imageside img{
  margin-top: 20px;
  max-width: 100%;
  height: 300px;
  border: none;
}
#about {
  display: inline;
  padding: 10px;
  padding-left: 10px;
}
.logo,
.address {
  max-width: 100%;
  width: auto;
  margin-left: 20px;
}
.logo img{
  width: 100px;
  height: auto;
}
.contact {
  margin-left: 20px;
  width: 100%;
}
footer{
  display: none;
}
}
@media screen and (max-width: 1310px){
  .text{
    margin: 20px auto;
    width: 90%;
  }
  .images{
    width: 80%;
    margin: 30px auto;
  }
}