#main-header{
    position: fixed;
    top: 0px;
    left: 0px;
}



#horizontal-split{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.first, .second, .third, .fourth{
    padding: 25px;
    width: 20vw;
}



#splitScreen{
    margin: 10px;
    justify-content: center;
    display: flex;
}
.text{
    margin: 30px;
    width: 40%;
}
.images{
    margin: 30px;
    width: 60%;
}



#brands{
    display: flex;
}
.brand{
    background-color: rgb(28, 137, 226);
    padding: 50px;
    width: 60vw;
}



#brand_logo{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.firstColumn, .secondColumn, .thirdColumn{
    width: 15vw;
}
.inAppSolutions{
    width: 40vw;
}



#careers{
    display: flex;
    padding: 30px;
    margin-top: 150px;
}
.leftside{
    width: 65%;
    margin-left: 80px;
}
.rightside{
    width: 35%;
    margin-left: 80px;
    margin-right: 80px;
}



#centerdiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.textside{
    background-color: silver;
    width: 250px;
}
.imageside{
    width: 550px;
}



#about{
    display: flex;
    padding: 10px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.logo, .address{
    width: 25vw;
    margin-left: 20px;
}
.contact{
    margin-left: 20px;
    width: 50vw;
}
